ul.topnav {
    list-style-type: none;
    margin-top: 1%;
    margin-bottom: 5%;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #fee4ff;}
  
  ul.topnav li a.active {background-color:#ff46f0; }
  
  ul.topnav li.right {float: right;}

  

  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }